body {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
}
.main .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background-color: rgb(75, 177, 255);
  border-bottom: 5px solid #000;
}
.main .header .main__photo {
  width: 120px;
  height: 80px;
  border-radius: 35%;
}
.main .header .main__photo:hover {
  width: 400px;
  height: 500px;
  border-radius: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.main .header .title {
  color: rgb(136, 0, 255);
  font-size: 40px;
  border-right: black 3px solid;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  -webkit-animation: typing 2.5s steps(30, end), blink-caret 0.5s step-end infinite;
          animation: typing 2.5s steps(30, end), blink-caret 0.5s step-end infinite;
  /* The typing effect */
}
@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 22%;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 22%;
  }
}
@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
.main .header .navigation {
  display: flex;
  justify-content: space-around;
}
.main .header .navigation .navigation__link {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
}
.main .header .navigation a {
  font-size: 24px;
  text-decoration: none;
  color: white;
}
.main .header .navigation a:hover {
  color: rgb(136, 0, 255);
  text-shadow: 1px 1px 15px black;
}
.main .discription {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 700px;
  background-image: url("../resurces/back.jpg");
}
.main .discription .animPic {
  display: flex;
  justify-content: center;
  width: 1000px;
  height: 500px;
}
.main .discription .animPic .pic {
  display: flex;
  width: 500px;
  height: 500px;
  background-image: url("../resurces/heart.png");
  background-size: 500px;
  background-position: center;
}
.main .discription .animPic .pic .heart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50%;
  font-size: 5rem;
  -webkit-animation: heart 0.6s infinite alternate linear;
          animation: heart 0.6s infinite alternate linear;
}
@-webkit-keyframes heart {
  from {
    transform: scale(0.6);
  }
  to {
    transform: scale(1);
  }
}
@keyframes heart {
  from {
    transform: scale(0.6);
  }
  to {
    transform: scale(1);
  }
}
.main .discription .message {
  font-size: 20px;
  position: relative;
  top: 0;
  background: #fff;
  padding: 20px;
  color: #222;
  border-radius: 3px;
  margin-left: 20px;
  margin-right: 15px;
  margin-bottom: 150px;
}
.main .discription .message p {
  padding: 0;
  margin: 0;
  color: rgb(95, 0, 126);
  font-weight: 1000;
}
.main .discription .message::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 15px solid #fff;
  left: -15px;
  top: 15px;
  z-index: 1;
}

@media (max-width: 413px) {
  .main {
    display: flex;
    flex-direction: column;
  }
  .main .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: rgb(75, 177, 255);
    border-bottom: 2.5px solid #000;
  }
  .main .header .main__photo {
    width: 120px;
    height: 80px;
    border-radius: 35%;
  }
  .main .header .main__photo:hover {
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    -webkit-animation: sizeX 0.5s steps(10, end), sizeY 0.5s steps(10, end);
            animation: sizeX 0.5s steps(10, end), sizeY 0.5s steps(10, end);
  }
  @-webkit-keyframes sizeX {
    from {
      width: 120px;
    }
    to {
      width: 400px;
    }
  }
  @keyframes sizeX {
    from {
      width: 120px;
    }
    to {
      width: 400px;
    }
  }
  @-webkit-keyframes sizeY {
    from {
      height: 80px;
    }
    to {
      height: 500px;
    }
  }
  @keyframes sizeY {
    from {
      height: 80px;
    }
    to {
      height: 500px;
    }
  }
  .main .header .title {
    display: none;
  }
  .main .header .navigation {
    display: flex;
    justify-content: space-around;
  }
  .main .header .navigation .navigation__link {
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
  }
  .main .header .navigation a {
    font-size: 14px;
    text-decoration: none;
    color: white;
  }
  .main .header .navigation a:hover {
    color: rgb(136, 0, 255);
    text-shadow: 1px 1px 15px black;
  }
  .main .discription {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 914px;
    background-image: url(../resurces/back.jpg);
  }
  .main .discription .animPic {
    display: flex;
    justify-content: center;
    width: 412px;
    height: 350px;
  }
  .main .discription .animPic .pic {
    display: flex;
    width: 412px;
    height: 350px;
    background-image: url("../resurces/heart.png");
    background-size: 350px;
    background-position: 5px 0;
    background-repeat: no-repeat;
  }
  .main .discription .animPic .pic .heart {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 45%;
    font-size: 4rem;
  }
  .main .discription .message {
    font-size: 20px;
    position: relative;
    top: 0;
    background: #fff;
    padding: 20px;
    color: #222;
    border-radius: 3px;
    margin-left: 20px;
    margin-right: 15px;
    margin-bottom: 100px;
  }
  .main .discription .message p {
    padding: 0;
    margin: 0;
    color: rgb(95, 0, 126);
    font-weight: 1000;
  }
  .main .discription .message::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid #fff;
    left: -15px;
    top: 15px;
    z-index: 1;
  }
}/*# sourceMappingURL=main.css.map */
